<div class="links scroll">
        <a href="{{site.baseurl}}/">home</a>
        <a href="{{site.baseurl}}/datasets/">datasets</a>
        <a href="{{site.baseurl}}/algorithms/">algorithms</a>
        <a href="{{site.baseurl}}/interactive-systems/">interactive systems</a>
        <!-- <a href="{{site.baseurl}}/projects/">Projects</a> -->
        <a href="https://evanthebouncy.github.io/program-synthesis-minimal/">program-synthesis-blog</a>
        <!-- <a href="{{site.baseurl}}/assets/CV.pdf">CV</a> -->
        <!-- <a href="{{site.baseurl}}/thoughts/">thoughts</a> -->

        <!-- <a href="{{site.baseurl}}/archive/">Archive</a> -->
</div>
